<div class="navCategoria" id="navCategoria">
  <% n=1 %>
    <% categorias.forEach(categoria=> { %>
      <a href="#section-<%= n %>" class="menuCategoria">
        <%= categoria.nome %>
      </a>
      <% n++ %>
    <% }) %>
</div>

<div class="bg_gray containerMain">

  <div class="bg_gray categoria">
    <!-- CATEGORIAS E PRODUTOS -->
    <div class="container margin_detail">
      <div class="row">
        <div class="list_menu">
          <div class="list_menu" id="nomeCategoria">
            <% n=1 %>
              <% categorias.forEach(categoria=> { %>
                <section id="section-<%= n %>">
                  <h4>
                    <%= categoria.nome %>
                  </h4>
                  <div class="table_wrapper">
                    <table class="table cart-list menu-gallery" id="<%= categoria._id %>">

                      <!-- PRODUTO -->
                      <% produtos.forEach( produto=> { %>
                      <% imagemProduto = produto.linkImagem %>

                        <% if(produto.categorias.includes(categoria._id)) { %>       
                          <tr class="linha-cardapio">
                            <td class="d-md-flex align-items-center box">
                              <figure class="imagem-produto">     
                                <img src="<%= imagemProduto %>" alt="thumb" class="lazy">                                
                              </figure>
                            </td>
                            <td>
                              <div class="flex-md-column align-items-center"">
                                <h4>
                                  <%= produto.nome %>
                                </h4>
                                <p>
                                  <%= produto.descricao %>
                                </p>
                              </div>
                            </td>
                            <td class="alinharDireita">
                              <% var valorProduto = (produto.valor2.toFixed(2) + "").replace(".", ",") %>
                              <strong>R$ <%= valorProduto %></strong>
                            </td>

                            <td class="options">
                              <div class="dropleft dropdown-options alinharDireita">
                                <a href="#" data-toggle="modal" data-target="#modal-<%= produto._id %>"
                                  class="modal-modificacao modal_dialog">
                                  <i class="arrow_carrot-right_alt2"></i>
                                </a>
                              </div>

                              <!-- MODIFICACOES -->
                              <!-- MODAL PRODUTO -->
                              <div class="modal fade" id="modal-<%= produto._id %>" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-centered menu_item" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="modal-<%= produto._id %>">
                                        <%= produto.nome %>
                                      </h5>
                                      <button type="button" class="btn_1 btn-fechar" data-dismiss="modal"
                                        aria-label="Fechar">
                                        <i class="icon_close"></i>
                                      </button>
                                    </div>

                                    <!-- AQUI AS MODIFICAÇÕES SÃO INSERIDAS -->
                                    <container class="none">
                                      <div class="modal-body">

                                        <div class="imgModificacao"><img src="<%= imagemProduto %>"
                                            class="imagem-modificacao"></div>
                                        <br>
                                        <% m=1 %>
                                          <% produto.paineisModificacao.forEach( painel=> { %>

                                            <div id="modificação-<%= m %>" class="modificacao">

                                              <h5>
                                                <%= painel.nome %>
                                              </h5>

                                              <% if ( painel.min == 1 && painel.max == 1) { %>
                                                <p>Selecione uma opção</p>

                                                <table class="painelModificacao">
                                                  <% painel.modificacoes.forEach(modificacao=> { %>
  
                                                    <tr>
                                                      <td>
                                                        <%= modificacao.nome %>
                                                      </td>
                                                      <td class="alinharDireita">
                                                        R$ <%= (modificacao.valor).toFixed(2) %>
                                                      </td>
                                                      <td>
                                                        <div class="col-md-2">
                                                          <label class="container_radio"><span>o</span>
                                                            <input type="radio" value="Mod-<%= modificacao._id %>" class="qt-mod" name="<%= modificacao.nome %>">
                                                            <span class="checkmark"></span>
                                                          </label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <% m++ %>
  
                                                  <% }) %>
                                                </table>

                                              <% } else { %>

                                                <table class="painelModificacao">
                                                  <% painel.modificacoes.forEach(modificacao=> { %>
  
                                                    <tr>
                                                      <td class="col-md-5">
                                                        <%= modificacao.nome %>
                                                      </td>
                                                      <td class="alinharDireita col-md-2">
                                                        R$ <%= (modificacao.valor).toFixed(2) %>
                                                      </td>
                                                      <td class="col-md-1">
                                                          <div class="adicionaModificacao">
                                                            <input type="text" value="0" id="quantMod-<%= modificacao._id %>" name="<%= modificacao.nome %>">
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <% m++ %>
  
                                                  <% }) %>
                                                </table>

                                              <% } %>

                                              
                                            </div>

                                          <% }) %>

                                      </div>

                                      <!-- <div class="modal-footer"> -->
                                        <div class="footer p-2">
                                          <div class="row small-gutters">
                                              <div class="col-md-3">
                                                  <button type="reset" class="btn_1 outline full-width mb-mobile" data-dismiss="modal" aria-label="Fechar">Cancelar</button>
                                              </div>
                                              <div class="col-md-7 px-2">
                                                  <button type="reset" class="btn_1 full-width">Adicionar</button>
                                              </div>
                                              <div class="col-md-2">
                                                <div class="numbers-row">
                                                  <input type="text" value="1" id="quantProduto-<%= produto._id %>" class="qty2 form-control" name="<%= produto.nome %>">
                                                </div>
                                              </div>
                                          </div>
                                          <!-- /Row -->
                                      <!-- </div> -->
                                      </div>

                                    </container>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>

                        <% } %>
                      <% }) %>
                              <!-- FIM PRODUTO -->
                    </table>
                  </div>
                  <!-- /row -->
                </section>

                <% n++ %>
              <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>

</script>
