<%- include ('../partials/header.ejs') %>

    <body>

        <main class="bg_gray"></main>

            <%- include ('../partials/pedido/cabecalho') %>
            <%- include ('../partials/pedido/categoria') %>
            <%- include ('../partials/pedido/resumo') %>    
                
        </main>
    </body>
<%- include ('../partials/footer.ejs') %>