<%- include ('../partials/header.ejs') %>

    <body>
        <%/* - include ('../partials/cabecalho1.ejs')  */%>

        <main class="bg_gray"></main>

            <%- include ('../partials/index/cabecalho2.ejs') %>
            <%- include ('../partials/index/categoria') %>
            <%- include ('../partials/index/resumo') %>    
                
        </main>
    </body>
<%- include ('../partials/footer.ejs') %>